openapi: 3.0.1
info:
  title: BG PSD2 API
  version: 1.3 Dec 20th 2018
  description: >
    # Summary


  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: 'https://creativecommons.org/licenses/by/4.0/'
  contact:
    name: The Berlin Group - A European Standards Initiative
    url: 'https://www.berlin-group.org/'
    email: info@berlin-group.org
externalDocs:
  description: >
    Full Documentation of NextGenPSD2 Access to Account Interoperability
    Framework

    (General Introduction Paper, Operational Rules, Implementation Guidelines)
  url: 'https://www.berlin-group.org/nextgenpsd2-downloads'
servers:
  - url: 'https://api.testbank.com/psd2'
    description: PSD2 server
  - url: 'https://test-api.testbank.com/psd2'
    description: Optional PSD2 test server
paths:
  /v1/accounts:
    post:
      summary: Create consent
      description: >
        This method create a consent resource, defining access rights to
        dedicated accounts of 
      operationId: createAccount
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
      requestBody:
        $ref: '#/components/requestBodies/accounts'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_Consents'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  
  
    get:
      summary: Read Account List
      description: >
        Read the identifiers of the available payment account together with 

        of the PSU at this ASPSP.
      operationId: getAccountList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/withBalanceQuery'
        - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountList'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/v1/accounts/{account-id}':
    get:
      summary: Read Account Details
      description: >
        Reads details about an account, with balances where required. 

        It is assumed that a consent of the PSU to 

        this access is already given and stored on the ASPSP system. 

        The addressed details of this account depends then on the stored consent
        addressed by consentId, 

        respectively the OAuth2 access token.


        **NOTE:** The account-id can represent a multicurrency account. 

        In this case the currency code is set to "XXX".


        Give detailed information about the addressed account.


        Give detailed information about the addressed account together with
        balance information
      operationId: readAccountDetails
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/withBalanceQuery'
        - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/v1/accounts/{account-id}/balances':
    get:
      summary: Read Balance
      description: >
        Reads account data from a given account addressed by "account-id". 

        The account-id is constant at least throughout the lifecycle of a given
        consent.
      operationId: getBalances
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_Balances'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/v1/accounts/{account-id}/transactions/':
    get:
      summary: Read transaction list of an account
      description: >
        Read transaction reports or transaction lists of a given account
        ddressed by "account-id", depending on the steering parameter 

        "bookingStatus" together with balances.


        For a given account, additional parameters are e.g. the attributes
        "dateFrom" and "dateTo". 

        The ASPSP might add balance information, if transaction lists without
        balances are not supported.
      operationId: getTransactionList
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
        - $ref: '#/components/parameters/entryReferenceFrom'
        - $ref: '#/components/parameters/bookingStatus'
        - $ref: '#/components/parameters/deltaList'
        - $ref: '#/components/parameters/withBalanceQuery'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/Digest'
        - $ref: '#/components/parameters/Signature'
        - $ref: '#/components/parameters/TPP-Signature-Certificate'
        - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
        - $ref: '#/components/parameters/PSU-IP-Port'
        - $ref: '#/components/parameters/PSU-Accept'
        - $ref: '#/components/parameters/PSU-Accept-Charset'
        - $ref: '#/components/parameters/PSU-Accept-Encoding'
        - $ref: '#/components/parameters/PSU-Accept-Language'
        - $ref: '#/components/parameters/PSU-User-Agent'
        - $ref: '#/components/parameters/PSU-Http-Method'
        - $ref: '#/components/parameters/PSU-Device-ID'
        - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountsTransactions'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  '/v1/accounts/{account-id}/transactions/{resourceId}':
    get:
      summary: Read Transaction Details
      description: >
        Reads transaction details from a given transaction addressed by
        "resourceId" on a given account addressed by "account-id". 

        This call is only available on transactions as reported in a JSON
        format.


        **Remark:** Please note that the PATH might be already given in detail
        by the corresponding entry of the response of the 

        "Read Transaction List" call within the _links subfield.
      operationId: getTransactionDetails
      tags:
        - Account Information Service (AIS)
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/resourceId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/Digest'
        - $ref: '#/components/parameters/Signature'
        - $ref: '#/components/parameters/TPP-Signature-Certificate'
        - $ref: '#/components/parameters/PSU-IP-Address_conditionalForAis'
        - $ref: '#/components/parameters/PSU-IP-Port'
        - $ref: '#/components/parameters/PSU-Accept'
        - $ref: '#/components/parameters/PSU-Accept-Charset'
        - $ref: '#/components/parameters/PSU-Accept-Encoding'
        - $ref: '#/components/parameters/PSU-Accept-Language'
        - $ref: '#/components/parameters/PSU-User-Agent'
        - $ref: '#/components/parameters/PSU-Http-Method'
        - $ref: '#/components/parameters/PSU-Device-ID'
        - $ref: '#/components/parameters/PSU-Geo-Location'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_TransactionDetails'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
components:
  securitySchemes:
    BearerAuthOAuth:
      description: >
        Bearer Token. 


        Is contained only, if an OAuth2 based authentication was performed in a
        pre-step or 

        an OAuth2 based SCA was performed in an preceding AIS service in the
        same session.
      type: http
      scheme: bearer
  schemas:
    accountId:
      description: >-
        This identification is denoting the addressed account, where the
        transaction has been performed.
      type: string
    accountName:
      description: >-
        This identification is denoting the addressed account, where the
        transaction has been performed.
      type: string
    consentId:
      description: >
        ID of the corresponding consent object as returned by an Account
        Information Consent Request.
      type: string
    resourceId:
      description: >
        This identification is given by the attribute resourceId of the
        corresponding entry of a transaction list.
      type: string
      example: 3dc3d5b3-7023-4848-9853-f5400a64e80f
    entryReference:
      description: >
        Is the identification of the transaction as used e.g. for reference for
        deltafunction on application level.
      type: string
      maxLength: 35
    accountsResponse-201:
      description: Body of the JSON response for a successful conset request.
      type: object
      required:
        - accountId
        - _links
      properties:
        accountId:
          $ref: '#/components/schemas/accountId'
        _links:
          $ref: '#/components/schemas/_linksAccounts'
        message:
          description: 'Text to be displayed to the PSU, e.g. in a Decoupled SCA Approach.'
          type: string
          maxLength: 512
      
      
    transactionStatus:
      description: |
        The transaction status is filled with codes of the ISO 20022 data table:
        - 'ACCC': 'AcceptedSettlementCompleted' -
          Settlement on the creditor's account has been completed.
        - 'ACCP': 'AcceptedCustomerProfile' - 
          Preceding check of technical validation was successful. 
          Customer profile check was also successful.
        - 'ACSC': 'AcceptedSettlementCompleted' - 
          Settlement on the debtor�s account has been completed.
          
          **Usage:** this can be used by the first agent to report to the debtor that the transaction has been completed. 
          
          **Warning:** this status is provided for transaction status reasons, not for financial information. 
          It can only be used after bilateral agreement.
        - 'ACSP': 'AcceptedSettlementInProcess' - 
          All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.
        - 'ACTC': 'AcceptedTechnicalValidation' - 
          Authentication and syntactical and semantical validation are successful.
        - 'ACWC': 'AcceptedWithChange' - 
          Instruction is accepted but a change will be made, such as date or remittance not sent.
        - 'ACWP': 'AcceptedWithoutPosting' - 
          Payment instruction included in the credit transfer is accepted without being posted to the creditor customer�s account.
        - 'RCVD': 'Received' - 
          Payment initiation has been received by the receiving agent.
        - 'PDNG': 'Pending' - 
          Payment initiation or individual transaction included in the payment initiation is pending. 
          Further checks and status update will be performed.
        - 'RJCT': 'Rejected' - 
          Payment initiation or individual transaction included in the payment initiation has been rejected.
        - 'CANC': 'Cancelled'
          Payment initiation has been cancelled before execution
          Remark: This code is still requested from ISO20022.
        - 'ACFC': 'AcceptedFundsChecked' -
          Preceeding check of technical validation and customer profile was successful and an automatic funds check was positive .
          Remark: This code is still requested from ISO20022.
        - 'PATC': 'PartiallyAcceptedTechnical'
          Correct The payment initiation needs multiple authentications, where some but not yet all have been performed. Syntactical and semantical validations are successful.
          Remark: This code is still requested from ISO20022.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
      example: ACCP
    transactionStatus_SB:
      description: |
        The transaction status is filled with codes of the ISO 20022 data table.
        Only the codes RCVD, PATC, ACTC, ACWC and RJCT are used:
        - 'ACSP': 'AcceptedSettlementInProcess' - 
          All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution.
        - 'ACTC': 'AcceptedTechnicalValidation' - 
          Authentication and syntactical and semantical validation are successful.
        - 'ACWC': 'AcceptedWithChange' - 
          Instruction is accepted but a change will be made, such as date or remittance not sent.
        - 'RCVD': 'Received' - 
          Payment initiation has been received by the receiving agent.
        - 'RJCT': 'Rejected' - 
          Payment initiation or individual transaction included in the payment initiation has been rejected.
      type: string
      enum:
        - ACSC
        - ACTC
        - ACWC
        - RCVD
        - RJCT
      example: RCVD
    scaStatus:
      description: >
        This data element is containing information about the status of the SCA
        method applied. 


        The following codes are defined for this data type.

          * 'received':
            An authorisation or cancellation-authorisation resource has been created successfully.
          * 'psuIdentified':
            The PSU related to the authorisation or cancellation-authorisation resource has been identified.
          * 'psuAuthenticated':
            The PSU related to the authorisation or cancellation-authorisation resource has been identified and authenticated e.g. by a password or by an access token.
          * 'scaMethodSelected':
            The PSU/TPP has selected the related SCA routine. 
            If the SCA method is chosen implicitly since only one SCA method is available, 
            then this is the first status to be reported instead of 'received'.
          * 'started':
            The addressed SCA routine has been started.
          * 'finalised':
            The SCA routine has been finalised successfully.
          * 'failed':
            The SCA routine failed
          * 'exempted':
            SCA was exempted for the related transaction, the related authorisation is successful.
      type: string
      enum:
        - received
        - psuIdentified
        - psuAuthenticated
        - scaMethodSelected
        - started
        - finalised
        - failed
        - exempted
      example: psuAuthenticated
    hrefType:
      description: Link to a resource
      type: object
      properties:
        href:
          $ref: '#/components/schemas/href'
    href:
      description: url
      type: string
    accountReference:
      description: |
        Reference to an account by either
          * IBAN, of a payment accounts, or
          * BBAN, for payment accounts if there is no IBAN, or 
          * the Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements, or
          * the Primary Account Number (PAN) of a card in a masked form, or
          * an alias to access a payment account via a registered mobile phone number (MSISDN).
      type: object
      properties:
        iban:
          $ref: '#/components/schemas/iban'
        bban:
          $ref: '#/components/schemas/bban'
        pan:
          $ref: '#/components/schemas/pan'
        maskedPan:
          $ref: '#/components/schemas/maskedPan'
        msisdn:
          $ref: '#/components/schemas/msisdn'
        currency:
          $ref: '#/components/schemas/currencyCode'
    balanceType:
      description: |
        The following balance types are defined:
          - "closingBooked": 
            Balance of the account at the end of the pre-agreed account reporting period. 
            It is the sum of the opening booked balance at the beginning of the period and all entries booked 
            to the account during the pre-agreed account reporting period.
            
            For card-accounts, this is composed of
            
              - invoiced, but not yet paid entries
            
          - "expected":
            Balance composed of booked entries and pending items known at the time of calculation, 
            which projects the end of day balance if everything is booked on the account and no other entry is posted.
            
            For card accounts, this is composed of 
              - invoiced, but not yet paid entries, 
              - not yet invoiced but already booked entries and
              - pending items (not yet booked)
            
          - "authorised":
            The expected balance together with the value of a pre-approved credit line the ASPSP makes permanently available to the user.
            
            For card-accounts:
            
            "money to spend with the value of a pre-approved credit limit on the card account"
            
          - "openingBooked":
            Book balance of the account at the beginning of the account reporting period. 
            It always equals the closing book balance from the previous report.
          - "interimAvailable":
            Available balance calculated in the course of the account ?servicer?s business day, 
            at the time specified, and subject to further changes during the business day. 
            The interim balance is calculated on the basis of booked credit and debit items during the calculation 
            time/period specified.
            
            For card-accounts, this is composed of
              - invoiced, but not yet paid entries, 
              - not yet invoiced but already booked entries
          - "forwardAvailable":
            Forward available balance of money that is at the disposal of the account owner on the date specified.
          - "nonInvoiced": 
            Only for card accounts, to be checked yet. 
      type: string
      enum:
        - closingBooked
        - expected
        - authorised
        - openingBooked
        - interimAvailable
        - forwardAvailable
        - nonInvoiced
    accountStatus:
      description: >
        Account status. The value is one of the following:
          - "enabled": account is available
          - "deleted": account is terminated
          - "blocked": account is blocked e.g. for legal reasons
        If this field is not used, than the account is available in the sense of
        this specification.
      type: string
      enum:
        - enabled
        - deleted
        - blocked
    account:
      description: xxx
      type: object
      properties:
        name:
          $ref: '#/components/schemas/accountName'
    accountDetails:
      description: >
        The ASPSP shall give at least one of the account reference identifiers:
          - iban
          - bban
          - pan
          - maskedPan
          - msisdn
        If the account is a multicurrency account currency code in "currency" is
        set to "XXX".
      type: object
      required:
        - name
      properties:
        resourceId:
          $ref: '#/components/schemas/resourceId'
        name:
          $ref: '#/components/schemas/accountName'
        status:
          $ref: '#/components/schemas/accountStatus'
        linkedAccounts:
          description: >-
            Case of a set of pending card transactions, the APSP will provide
            the relevant cash account the card is set up on.
          type: string
          maxLength: 70
        usage:
          description: |
            Specifies the usage of the account
              * PRIV: private personal account
              * ORGA: professional account
          type: string
          maxLength: 4
          enum:
            - PRIV
            - ORGA
        balances:
          $ref: '#/components/schemas/balanceList'
        _links:
          $ref: '#/components/schemas/_linksAccountDetails'
    accountList:
      description: |
        List of accounts with details.
      type: object
      required:
        - accounts
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/accountDetails'
    accountReport:
      description: >
        JSON based account report.

        This account report contains transactions resulting from the query
        parameters.


        'booked' shall be contained if bookingStatus parameter is set to
        "booked" or "both".


        'pending' is not contained if the bookingStatus parameter is set to
        "booked".
      type: object
      required:
        - _links
      properties:
        booked:
          $ref: '#/components/schemas/transactionList'
        pending:
          $ref: '#/components/schemas/transactionList'
        _links:
          $ref: '#/components/schemas/_linksAccountReport'
    transactionList:
      description: Array of transaction details
      type: array
      items:
        $ref: '#/components/schemas/transactionDetails'
    transactionDetails:
      description: Transaction details
      type: object
      required:
        - transactionAmount
      properties:
        transactionId:
          description: >
            the Transaction Id can be used as access-ID in the API, where more
            details on an transaction is offered. 

            If this data attribute is provided this shows that the AIS can get
            access on more details about this 

            transaction using the GET Transaction Details Request 
          type: string
        entryReference:
          description: >
            Is the identification of the transaction as used e.g. for reference
            for deltafunction on application level. 

            The same identification as for example used within camt.05x
            messages.
          type: string
          maxLength: 35
        endToEndId:
          description: Unique end to end identity.
          type: string
          maxLength: 35
        mandateId:
          description: 'Identification of Mandates, e.g. a SEPA Mandate ID.'
          type: string
          maxLength: 35
        checkId:
          description: Identification of a Cheque.
          type: string
          maxLength: 35
        creditorId:
          description: 'Identification of Creditors, e.g. a SEPA Creditor ID.'
          type: string
          maxLength: 35
        bookingDate:
          $ref: '#/components/schemas/bookingDate'
        valueDate:
          description: >-
            The Date at which assets become available to the account owner in
            case of a credit.
          type: string
          format: date
        transactionAmount:
          $ref: '#/components/schemas/amount'
        exchangeRate:
          $ref: '#/components/schemas/exchangeRateList'
        creditorName:
          $ref: '#/components/schemas/creditorName'
        creditorAccount:
          $ref: '#/components/schemas/accountReference'
        ultimateCreditor:
          $ref: '#/components/schemas/ultimateCreditor'
        debtorName:
          $ref: '#/components/schemas/debtorName'
        debtorAccount:
          $ref: '#/components/schemas/accountReference'
        ultimateDebtor:
          $ref: '#/components/schemas/ultimateDebtor'
        remittanceInformationUnstructured:
          type: string
          maxLength: 140
        remittanceInformationStructured:
          description: >
            Reference as contained in the structured remittance reference
            structure (without the surrounding XML structure).


            Different from other places the content is containt in plain form
            not in form of a structered field.
          type: string
          maxLength: 140
        purposeCode:
          $ref: '#/components/schemas/purposeCode'
        bankTransactionCode:
          $ref: '#/components/schemas/bankTransactionCode'
        proprietaryBankTransactionCode:
          $ref: '#/components/schemas/proprietaryBankTransactionCode'
        _links:
          $ref: '#/components/schemas/_linksTransactionDetails'
    exchangeRateList:
      description: Array of exchange rates
      type: array
      items:
        $ref: '#/components/schemas/exchangeRate'
    exchangeRate:
      description: Exchange Rate
      type: object
      required:
        - sourceCurrency
        - rate
        - unitCurrency
        - targetCurrency
        - rateDate
      properties:
        sourceCurrency:
          $ref: '#/components/schemas/currencyCode'
        rate:
          type: string
        unitCurrency:
          type: string
        targetCurrency:
          $ref: '#/components/schemas/currencyCode'
        rateDate:
          type: string
          format: date
        rateContract:
          type: string
    balance:
      description: |
        A single balance element
      type: object
      required:
        - balanceAmount
        - balanceType
      properties:
        balanceAmount:
          $ref: '#/components/schemas/amount'
        balanceType:
          $ref: '#/components/schemas/balanceType'
        lastChangeDateTime:
          description: >
            This data element might be used to indicate e.g. with the expected
            or booked balance that no action is known 

            on the account, which is not yet booked.
          type: string
          format: date-time
        referenceDate:
          description: Reference date of the balance
          type: string
          format: date
        lastCommittedTransaction:
          description: >
            "entryReference" of the last commited transaction to support the TPP
            in identifying whether all 

            PSU transactions are already known.
          type: string
          maxLength: 35
    balanceList:
      description: >
        A list of balances regarding this account, e.g. the current balance, the
        last booked balance.

        The list migght be restricted to the current ballance.
      type: array
      items:
        $ref: '#/components/schemas/balance'
    bicfi:
      description: |
        BICFI
      type: string
      pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      example: AAAADEBBXXX
    pan:
      description: |
        Primary Account Number according to ISO/IEC 7812.
      type: string
      maxLength: 35
      example: '5409050000000000'
    maskedPan:
      description: |
        Masked Primary Account Number
      type: string
      maxLength: 35
      example: 123456xxxxxx1234
    bban:
      description: |
        Basic Bank Account Number (BBAN) Identifier

        This data element can be used in the body of the Consent Request
          Message for retrieving Account access Consent from this Account. This
          data elements is used for payment Accounts which have no IBAN.
          ISO20022: Basic Bank Account Number (BBAN). 
          
          Identifier used nationally by financial institutions, i.e., in individual countries, 
          generally as part of a National Account Numbering Scheme(s), 
          which uniquely identifies the account of a customer.
      type: string
      pattern: '[a-zA-Z0-9]{1,30}'
      example: BARC12345612345678
    msisdn:
      type: string
      maxLength: 35
      description: Mobile phone number.
      example: +49 170 1234567
    iban:
      type: string
      description: IBAN of an account
      pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      example: FR7612345987650123456789014
    address:
      type: object
      required:
        - country
      properties:
        street:
          type: string
          maxLength: 70
        buildingNumber:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          $ref: '#/components/schemas/countryCode'
      example:
        street: rue blue
        buildingnNumber: '89'
        city: Paris
        postalCode: '75000'
        country: FR
    countryCode:
      description: ISO 3166 ALPHA2 country code
      type: string
      pattern: '[A-Z]{2}'
      example: SE
    amount:
      type: object
      required:
        - currency
        - amount
      properties:
        currency:
          $ref: '#/components/schemas/currencyCode'
        amount:
          $ref: '#/components/schemas/amountValue'
      example:
        currency: EUR
        amount: '123'
    currencyCode:
      description: |
        ISO 4217 Alpha 3 currency code
      type: string
      pattern: '[A-Z]{3}'
      example: EUR
    amountValue:
      description: >
        The amount given with fractional digits, where fractions must be
        compliant to the currency definition.

        Up to 14 significant figures. Negative amounts are signed by minus.

        The decimal separator is a dot.


        **Example:**

        Valid representations for EUR with up to two decimals are:

          * 1056
          * 5768.2
          * -1.50
          * 5877.78
      type: string
      pattern: '-?[0-9]{1,14}(\.[0-9]{1,3})?'
      example: '5877.78'
    remittanceInformationStructured:
      description: |
        Structured remittance information
      type: object
      required:
        - reference
      properties:
        reference:
          type: string
          maxLength: 35
        referenceType:
          type: string
          maxLength: 35
        referenceIssuer:
          type: string
          maxLength: 35
    remittanceInformationUnstructured:
      description: |
        Unstructured remittance information
      type: string
      maxLength: 140
      example: Ref Number Merchant
    purposeCode:
      description: >
        ExternalPurpose1Code from ISO 20022.


        Values from ISO 20022 External Code List ExternalCodeSets_1Q2018 June
        2018.
      type: string
      enum:
        - BKDF
        - BKFE
        - BKFM
        - BKIP
        - BKPP
        - CBLK
        - CDCB
        - CDCD
        - CDCS
        - CDDP
        - CDOC
        - CDQC
        - ETUP
        - FCOL
        - MTUP
        - ACCT
        - CASH
        - COLL
        - CSDB
        - DEPT
        - INTC
        - LIMA
        - NETT
        - BFWD
        - CCIR
        - CCPC
        - CCPM
        - CCSM
        - CRDS
        - CRPR
        - CRSP
        - CRTL
        - EQPT
        - EQUS
        - EXPT
        - EXTD
        - FIXI
        - FWBC
        - FWCC
        - FWSB
        - FWSC
        - MARG
        - MBSB
        - MBSC
        - MGCC
        - MGSC
        - OCCC
        - OPBC
        - OPCC
        - OPSB
        - OPSC
        - OPTN
        - OTCD
        - REPO
        - RPBC
        - RPCC
        - RPSB
        - RPSC
        - RVPO
        - SBSC
        - SCIE
        - SCIR
        - SCRP
        - SHBC
        - SHCC
        - SHSL
        - SLEB
        - SLOA
        - SWBC
        - SWCC
        - SWPT
        - SWSB
        - SWSC
        - TBAS
        - TBBC
        - TBCC
        - TRCP
        - AGRT
        - AREN
        - BEXP
        - BOCE
        - COMC
        - CPYR
        - GDDS
        - GDSV
        - GSCB
        - LICF
        - MP2B
        - POPE
        - ROYA
        - SCVE
        - SERV
        - SUBS
        - SUPP
        - TRAD
        - CHAR
        - COMT
        - MP2P
        - ECPG
        - ECPR
        - ECPU
        - EPAY
        - CLPR
        - COMP
        - DBTC
        - GOVI
        - HLRP
        - HLST
        - INPC
        - INPR
        - INSC
        - INSU
        - INTE
        - LBRI
        - LIFI
        - LOAN
        - LOAR
        - PENO
        - PPTI
        - RELG
        - RINP
        - TRFD
        - FORW
        - FXNT
        - ADMG
        - ADVA
        - BCDM
        - BCFG
        - BLDM
        - BNET
        - CBFF
        - CBFR
        - CCRD
        - CDBL
        - CFEE
        - CGDD
        - CORT
        - COST
        - CPKC
        - DCRD
        - DSMT
        - DVPM
        - EDUC
        - FACT
        - FAND
        - FCPM
        - FEES
        - GOVT
        - ICCP
        - IDCP
        - IHRP
        - INSM
        - IVPT
        - MCDM
        - MCFG
        - MSVC
        - NOWS
        - OCDM
        - OCFG
        - OFEE
        - OTHR
        - PADD
        - PTSP
        - RCKE
        - RCPT
        - REBT
        - REFU
        - RENT
        - REOD
        - RIMB
        - RPNT
        - RRBN
        - RVPM
        - SLPI
        - SPLT
        - STDY
        - TBAN
        - TBIL
        - TCSC
        - TELI
        - TMPG
        - TPRI
        - TPRP
        - TRNC
        - TRVC
        - WEBI
        - ANNI
        - CAFI
        - CFDI
        - CMDT
        - DERI
        - DIVD
        - FREX
        - HEDG
        - INVS
        - PRME
        - SAVG
        - SECU
        - SEPI
        - TREA
        - UNIT
        - FNET
        - FUTR
        - ANTS
        - CVCF
        - DMEQ
        - DNTS
        - HLTC
        - HLTI
        - HSPC
        - ICRF
        - LTCF
        - MAFC
        - MARF
        - MDCS
        - VIEW
        - CDEP
        - SWFP
        - SWPP
        - SWRS
        - SWUF
        - ADCS
        - AEMP
        - ALLW
        - ALMY
        - BBSC
        - BECH
        - BENE
        - BONU
        - CCHD
        - COMM
        - CSLP
        - GFRP
        - GVEA
        - GVEB
        - GVEC
        - GVED
        - GWLT
        - HREC
        - PAYR
        - PEFC
        - PENS
        - PRCP
        - RHBS
        - SALA
        - SSBE
        - LBIN
        - LCOL
        - LFEE
        - LMEQ
        - LMFI
        - LMRK
        - LREB
        - LREV
        - LSFL
        - ESTX
        - FWLV
        - GSTX
        - HSTX
        - INTX
        - NITX
        - PTXP
        - RDTX
        - TAXS
        - VATX
        - WHLD
        - TAXR
        - B112
        - BR12
        - TLRF
        - TLRR
        - AIRB
        - BUSB
        - FERB
        - RLWY
        - TRPT
        - CBTV
        - ELEC
        - ENRG
        - GASB
        - NWCH
        - NWCM
        - OTLC
        - PHON
        - UBIL
        - WTER
    cardAcceptorCategoryCode:
      description: >
        Card Acceptor Category Code of the Card Acceptor as given in the related
        card transaction. 
      type: string
    bankTransactionCode:
      description: >
        Bank transaction code as used by the ASPSP and using the sub elements of
        this structured code defined by ISO 20022. 


        This code type is concatenating the three ISO20022 Codes 
          * Domain Code, 
          * Family Code, and 
          * SubFamiliy Code 
        by hyphens, resulting in �DomainCode�-�FamilyCode�-�SubFamilyCode�.
      type: string
      example: PMNT-RCDT-ESCT
    proprietaryBankTransactionCode:
      description: >
        Proprietary bank transaction code as used within a community or within
        an ASPSP e.g. 

        for MT94x based transaction reports.
      type: string
      maxLength: 35
    frequencyCode:
      description: >
        The following codes from the "EventFrequency7Code" of ISO 20022 are
        supported.

        - "Daily"

        - "Weekly"

        - "EveryTwoWeeks"

        - "Monthly"

        - "EveryTwoMonths"

        - "Quarterly"

        - "SemiAnnual"

        - "Annual"
      type: string
      enum:
        - Daily
        - Weekly
        - EveryTwoWeeks
        - Monthly
        - EveryTwoMonths
        - Quarterly
        - SemiAnnual
        - Annual
    frequencyPerDay:
      description: >
        This field indicates the requested maximum frequency for an access
        without PSU involvement per day.

        For a one-off access, this attribute is set to "1".
      type: integer
      example: 4
    dayOfExecution:
      description: |
        Day of execution as string.

        This string consists of up two characters.
        Leading zeroes are not allowed.

        31 is ultimo of the month.
      type: string
      maxLength: 2
      enum:
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
        - '7'
        - '8'
        - '9'
        - '10'
        - '11'
        - '12'
        - '13'
        - '14'
        - '15'
        - '16'
        - '17'
        - '18'
        - '19'
        - '20'
        - '21'
        - '22'
        - '23'
        - '24'
        - '25'
        - '26'
        - '27'
        - '28'
        - '29'
        - '30'
        - '31'
    executionRule:
      description: >
        "following" or "preceeding" supported as values. 

        This data attribute defines the behavior when recurring payment dates
        falls on a weekend or bank holiday. 

        The payment is then executed either the "preceeding" or "following"
        working day.

        ASPSP might reject the request due to the communicated value, if rules
        in Online-Banking are not supporting 

        this execution rule.
      type: string
      enum:
        - following
        - preceeding
    creditorName:
      description: Creditor Name
      type: string
      maxLength: 70
      example: Creditor Name
    debtorName:
      description: Debtor Name
      type: string
      maxLength: 70
      example: Debtor Name
    ultimateDebtor:
      description: Ultimate Debtor
      type: string
      maxLength: 70
      example: Ultimate Debtor
    ultimateCreditor:
      description: Ultimate Creditor
      type: string
      maxLength: 70
      example: Ultimate Creditor
    transactionDate:
      description: Date of the actual card transaction
      type: string
      format: date
    startDate:
      description: >
        The first applicable day of execution starting from this date is the
        first payment.
      type: string
      format: date
    endDate:
      description: |
        The last applicable day of execution
        If not given, it is an infinite standing order.
      type: string
      format: date
    bookingDate:
      description: |
        The Date when an entry is posted to an account on the ASPSPs books.
      type: string
      format: date
    validUntil:
      description: >
        This parameter is requesting a valid until date for the requested
        consent. 

        The content is the local ASPSP date in ISO-Date Format, e.g.
        2017-10-30. 


        Future dates might get adjusted by ASPSP. 


        If a maximal available date is requested, a date in far future is to be
        used: "9999-12-31". 


        In both cases the consent object to be retrieved by the GET Consent
        Request will contain the adjusted date.
      type: string
      format: date
      example: '2020-12-31'
    lastActionDate:
      description: >
        This date is containing the date of the last action on the consent
        object either through 

        the XS2A interface or the PSU/ASPSP interface having an impact on the
        status.
      type: string
      format: date
      example: '2018-07-01'
    readAccountBalanceResponse-200:
      description: >-
        Body of the response for a successful read balance for an account
        request.
      type: object
      required:
        - balances
      properties:
        account:
          $ref: '#/components/schemas/accountReference'
        balances:
          $ref: '#/components/schemas/balanceList'
    transactionsResponse-200_json:
      description: >
        Body of the JSON response for a successful read transaction list
        request.

        This account report contains transactions resulting from the query
        parameters.
      type: object
      properties:
        account:
          $ref: '#/components/schemas/accountReference'
        transactions:
          $ref: '#/components/schemas/accountReport'
        balances:
          $ref: '#/components/schemas/balanceList'
        _links:
          $ref: '#/components/schemas/_linksDownload'
    _linksAll:
      description: |
        A _link object with all availabel link types
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      properties:
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        account:
          $ref: '#/components/schemas/hrefType'
        balances:
          $ref: '#/components/schemas/hrefType'
        transactions:
          $ref: '#/components/schemas/hrefType'
        transactionDetails:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
        download:
          $ref: '#/components/schemas/hrefType'
    _linksDownload:
      description: >
        A list of hyperlinks to be recognised by the TPP.


        Type of links admitted in this response:
          - "download": a link to a resource, where the transaction report might be downloaded from in 
          case where transaction reports have a huge size.

        Remark: This feature shall only be used where camt-data is requested
        which has a huge size.
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
        - download
      properties:
        download:
          $ref: '#/components/schemas/hrefType'
          
    _linksAccounts:
      description: >
        A list of hyperlinks to be recognised by the TPP.


        Type of links admitted in this response (which might be extended by
        single ASPSPs as indicated in its XS2A 

        documentation):
          - 'self': 
            The link to the Establish Account Information Consent resource created by this request. 
            This link can be used to retrieve the resource data. 
          - 'status': 
            The link to retrieve the status of the account information consent.
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      properties:
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
    _linksAccountReport:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
        - account
      properties:
        account:
          $ref: '#/components/schemas/hrefType'
        first:
          $ref: '#/components/schemas/hrefType'
        next:
          $ref: '#/components/schemas/hrefType'
        previous:
          $ref: '#/components/schemas/hrefType'
        last:
          $ref: '#/components/schemas/hrefType'
    _linksTransactionDetails:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/hrefType'
      required:
        - transactionDetails
      properties:
        transactionDetails:
          $ref: '#/components/schemas/hrefType'
    _linksAccountDetails:
      description: >
        Links to the account, which can be directly used for retrieving account
        information from this dedicated account.


        Links to "balances" and/or "transactions"


        These links are only supported, when the corresponding consent has been
        already granted.
      type: object
      properties:
        balances:
          $ref: '#/components/schemas/hrefType'
        transactions:
          $ref: '#/components/schemas/hrefType'
    tppMessageCategory:
      description: Category of the TPP message category
      type: string
      enum:
        - ERROR
        - WARNING
    MessageCode2XX:
      description: Message codes for HTTP Error codes 2XX.
      type: string
      enum:
        - WARNING
    MessageCode400_AIS:
      description: Message codes defined for AIS for HTTP Error code 400 (BAD_REQUEST).
      type: string
      enum:
        - FORMAT_ERROR
        - PARAMETER_NOT_CONSISTENT
        - PARAMETER_NOT_SUPPORTED
        - SERVICE_INVALID
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - RESOURCE_BLOCKED
        - TIMESTAMP_INVALID
        - PERIOD_INVALID
        - SCA_METHOD_UNKNOWN
        - CONSENT_UNKNOWN
        - SESSIONS_NOT_SUPPORTED
    MessageCode401_AIS:
      description: Message codes defined for AIS for HTTP Error code 401 (UNAUTHORIZED).
      type: string
      enum:
        - CERTIFICATE_INVALID
        - CERTIFICATE_EXPIRED
        - CERTIFICATE_BLOCKED
        - CERTIFICATE_REVOKE
        - CERTIFICATE_MISSING
        - SIGNATURE_INVALID
        - SIGNATURE_MISSING
        - CORPORATE_ID_INVALID
        - PSU_CREDENTIALS_INVALID
        - CONSENT_INVALID
        - CONSENT_EXPIRED
        - TOKEN_UNKNOWN
        - TOKEN_INVALID
        - TOKEN_EXPIRED
    MessageCode403_AIS:
      description: Message codes defined for AIS for HTTP Error code 403 (FORBIDDEN).
      type: string
      enum:
        - CONSENT_UNKNOWN
        - SERVICE_BLOCKED
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
    MessageCode403_PIIS:
      description: Message codes defined for PIIS for HTTP Error code 403 (FORBIDDEN).
      type: string
      enum:
        - CONSENT_UNKNOWN
        - SERVICE_BLOCKED
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
    MessageCode404_AIS:
      description: Message codes defined for AIS for HTTP Error code 404 (NOT FOUND).
      type: string
      enum:
        - RESOURCE_UNKNOWN
    MessageCode404_PIIS:
      description: Message codes defined for PIIS for HTTP Error code 404 (NOT FOUND).
      type: string
      enum:
        - RESOURCE_UNKNOWN
    MessageCode405_AIS:
      description: >-
        Message codes defined for AIS for HTTP Error code 405 (METHOD NOT
        ALLOWED).
      type: string
      enum:
        - SERVICE_INVALID
    MessageCode406_AIS:
      description: Message codes defined for AIS for HTTP Error code 406 (NOT ACCEPTABLE).
      type: string
      enum:
        - REQUESTED_FORMATS_INVALID
    MessageCode409_AIS:
      description: Message codes defined for AIS for HTTP Error code 409 (CONFLICT).
      type: string
      enum:
        - STATUS_INVALID
    MessageCode429_AIS:
      description: Message codes for HTTP Error code 429 (TOO MANY REQUESTS).
      type: string
      enum:
        - ACCESS_EXCEEDED
    tppMessageText:
      description: Additional explaining text to the TPP.
      type: string
      maxLength: 512
    tppMessage2XX:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode2XX'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage400_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode400_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage401_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode401_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage403_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode403_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage404_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode404_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage405_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode405_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage406_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode406_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage409_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode409_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppMessage429_AIS:
      type: object
      required:
        - category
        - code
      properties:
        category:
          $ref: '#/components/schemas/tppMessageCategory'
        code:
          $ref: '#/components/schemas/MessageCode429_AIS'
        path:
          type: string
        text:
          $ref: '#/components/schemas/tppMessageText'
    tppErrorTitle:
      description: |
        Short human readable description of error type. 
        Could be in local language. 
        To be provided by ASPSPs.
      type: string
      maxLength: 70
    tppErrorDetail:
      description: >
        Detailed human readable text specific to this instance of the error. 

        XPath might be used to point to the issue generating the error in
        addition.

        Remark for Future: In future, a dedicated field might be introduced for
        the XPath.
      type: string
      maxLength: 512
    Error400_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 400 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode400_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode400_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error400_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 400.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage400_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'          
    Error401_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 401 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode401_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode401_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error403_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 403 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode403_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode403_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error404_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 404 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode404_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode404_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error405_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 405 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode405_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode405_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error406_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 406 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode406_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode406_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error409_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 409 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode409_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >-
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807].
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode409_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error409_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 409.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage409_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      example:
        - category: ERROR
          code: STATUS_INVALID
          text: additional text information of the ASPSP up to 512 characters
          
    Error429_AIS:
      description: >
        Standardised definition of reporting error information according to
        [RFC7807] 

        in case of a HTTP error code 429 for AIS.
      type: object
      required:
        - type
        - code
      properties:
        type:
          description: >
            A URI reference [RFC3986] that identifies the problem type. 

            Remark For Future: These URI will be provided by NextGenPSD2 in
            future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. 
            Could be in local language. 
            To be provided by ASPSPs.
          type: string
          maxLength: 70
        detail:
          description: >
            Detailed human readable text specific to this instance of the
            error. 

            XPath might be used to point to the issue generating the error in
            addition.

            Remark for Future: In future, a dedicated field might be introduced
            for the XPath.
          type: string
          maxLength: 512
        code:
          $ref: '#/components/schemas/MessageCode429_AIS'
        additionalErrors:
          description: |
            Array of Error Information Blocks.

            Might be used if more than one error is to be communicated
          type: array
          items:
            description: >
              This is a data element to support the declaration of additional
              errors in the context of [RFC7807] 

              in case of a HTTP error code 429 for. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/tppErrorTitle'
              detail:
                $ref: '#/components/schemas/tppErrorDetail'
              code:
                $ref: '#/components/schemas/MessageCode429_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error401_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 401.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage401_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error403_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 403.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage403_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error404_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 404.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage404_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error405_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 401.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage405_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error406_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 406.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage406_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
    Error429_NG_AIS:
      description: >
        NextGenPSD2 specific definition of reporting error information in case
        of a HTTP error code 429.
      type: object
      properties:
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/tppMessage429_AIS'
        _links:
          $ref: '#/components/schemas/_linksAll'
      example:
        - category: ERROR
          code: ACCESS_EXCEEDED
          text: additional text information of the ASPSP up to 512 characters
  parameters:
    accountId:
      name: account-id
      in: path
      description: >
        This identification is denoting the addressed account. 

        The account-id is retrieved by using a "Read Account List" call. 

        The account-id is the "id" attribute of the account structure. 

        Its value is constant at least throughout the lifecycle of a given
        consent.
      required: true
      schema:
        $ref: '#/components/schemas/accountId'
    resourceId:
      name: resourceId
      in: path
      description: >
        This identification is given by the attribute resourceId of the
        corresponding entry of a transaction list.
      required: true
      schema:
        $ref: '#/components/schemas/resourceId'
    withBalanceQuery:
      name: withBalance
      in: query
      description: >
        If contained, this function reads the list of accessible payment
        accounts including the booking balance, 

        if granted by the PSU in the related consent and available by the
        ASPSP. 

        This parameter might be ignored by the ASPSP. 
      required: false
      schema:
        type: boolean
    dateFrom:
      name: dateFrom
      in: query
      description: >
        Conditional: Starting date (inclusive the date dateFrom) of the
        transaction list, mandated if no delta access is required.


        For booked transactions, the relevant date is the booking date. 


        For pending transactions, the relevant date is the entry date, which may
        not be transparent 

        neither in this API nor other channels of the ASPSP.
      required: false
      schema:
        type: string
        format: date
    dateTo:
      name: dateTo
      in: query
      description: >
        End date (inclusive the data dateTo) of the transaction list, default is
        "now" if not given. 


        Might be ignored if a delta function is used.


        For booked transactions, the relevant date is the booking date. 


        For pending transactions, the relevant date is the entry date, which may
        not be transparent 

        neither in this API nor other channels of the ASPSP.
      required: false
      schema:
        type: string
        format: date
    entryReferenceFrom:
      name: entryReferenceFrom
      in: query
      description: >
        This data attribute is indicating that the AISP is in favour to get all
        transactions after 

        the transaction with identification entryReferenceFrom alternatively to
        the above defined period. 

        This is a implementation of a delta access. 

        If this data element is contained, the entries "dateFrom" and "dateTo"
        might be ignored by the ASPSP 

        if a delta report is supported.


        Optional if supported by API provider.
      required: false
      schema:
        type: string
    bookingStatus:
      name: bookingStatus
      in: query
      description: |
        Permitted codes are 
          * "booked",
          * "pending" and 
          * "both"
        "booked" shall be supported by the ASPSP.
        To support the "pending" and "both" feature is optional for the ASPSP, 
        Error code if not supported in the online banking frontend
      required: true
      schema:
        type: string
        enum:
          - booked
          - pending
          - both
    deltaList:
      name: deltaList
      in: query
      description: >-
        This data attribute is indicating that the AISP is in favour to get all
        transactions after the last report access for this PSU on the addressed
        account. This is another implementation of a delta access-report.

        This delta indicator might be rejected by the ASPSP if this function is
        not supported.

        Optional if supported by API provider
      schema:
        type: boolean
    X-Request-ID:
      name: X-Request-ID
      in: header
      description: >-
        ID of the request, unique to the call, as determined by the initiating
        party.
      required: true
      example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
      schema:
        type: string
        format: uuid
    Digest:
      name: Digest
      in: header
      description: >-
        Is contained if and only if the "Signature" element is contained in the
        header of the request.
      schema:
        type: string
      required: false
      example: SHA-256=hl1/Eps8BEQW58FJhDApwJXjGY4nr1ArGDHIT25vq6A=
    Signature:
      name: Signature
      in: header
      description: >
        A signature of the request by the TPP on application level. This might
        be mandated by ASPSP.
      schema:
        type: string
      required: false
      example: >
        keyId="SN=9FA1,CA=CN=D-TRUST%20CA%202-1%202015,O=D-Trust%20GmbH,C=DE",algorithm="rsa-sha256",
        headers="Digest X-Request-ID PSU-ID TPP-Redirect-URI Date",
        signature="Base64(RSA-SHA256(signing string))"
    TPP-Signature-Certificate:
      name: TPP-Signature-Certificate
      in: header
      description: |
        The certificate used for signing the request, in base64 encoding. 
        Must be contained if a signature is contained.
      schema:
        type: string
        format: byte
      required: false
    TPP-Redirect-Preferred:
      name: TPP-Redirect-Preferred
      in: header
      description: >
        If it equals "true", the TPP prefers a redirect over an embedded SCA
        approach.

        If it equals "false", the TPP prefers not to be redirected for SCA. The
        ASPSP will then choose between the Embedded or the Decoupled

        SCA approach, depending on the choice of the SCA procedure by the
        TPP/PSU.

        If the parameter is not used, the ASPSP will choose the SCA approach to
        be applied depending on the SCA method chosen by the

        TPP/PSU.
      schema:
        type: string
        enum:
          - 'true'
          - 'false'
      required: false
    TPP-Redirect-URI:
      name: TPP-Redirect-URI
      in: header
      description: >
        URI of the TPP, where the transaction flow shall be redirected to after
        a Redirect.


        Mandated for the Redirect SCA Approach (including OAuth2 SCA approach),
        specifically 

        when TPP-Redirect-Preferred equals "true".

        It is recommended to always use this header field.


        **Remark for Future:** 

        This field might be changed to mandatory in the next version of the
        specification.
      schema:
        type: string
        format: uri
      required: false
    TPP-Nok-Redirect-URI:
      name: TPP-Nok-Redirect-URI
      in: header
      description: >
        If this URI is contained, the TPP is asking to redirect the transaction
        flow to this address instead of the TPP-Redirect-URI in case

        of a negative result of the redirect SCA method. This might be ignored
        by the ASPSP.
      schema:
        type: string
        format: uri
      required: false
    TPP-Explicit-Authorisation-Preferred:
      name: TPP-Explicit-Authorisation-Preferred
      in: header
      description: >
        If it equals "true", the TPP prefers to start the authorisation process
        separately, 

        e.g. because of the usage of a signing basket. 

        This preference might be ignored by the ASPSP, if a signing basket is
        not supported as functionality.


        If it equals "false" or if the parameter is not used, there is no
        preference of the TPP. 

        This especially indicates that the TPP assumes a direct authorisation of
        the transaction in the next step, 

        without using a signing basket.
      schema:
        type: string
        enum:
          - 'true'
          - 'false'
      required: false
    PSU-ID:
      name: PSU-ID
      in: header
      description: >
        Client ID of the PSU in the ASPSP client interface. Might be mandated in
        the ASPSP's documentation.

        Is not contained if an OAuth2 based authentication was performed in a
        pre-step or an OAuth2 based SCA was performed in an preceeding

        AIS service in the same session.
      schema:
        type: string
      required: false
      example: PSU-1234
    PSU-ID-Type:
      name: PSU-ID-Type
      in: header
      description: >
        Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs
        as access possibility.
      schema:
        type: string
      required: false
    PSU-Corporate-ID:
      name: PSU-Corporate-ID
      in: header
      description: >
        Might be mandated in the ASPSP's documentation. Only used in a corporate
        context.
      schema:
        type: string
      required: false
    PSU-Corporate-ID-Type:
      name: PSU-Corporate-ID-Type
      in: header
      description: >
        Might be mandated in the ASPSP's documentation. Only used in a corporate
        context.
      schema:
        type: string
      required: false
    PSU-IP-Address_mandatory:
      name: PSU-IP-Address
      in: header
      description: >
        The forwarded IP Address header field consists of the corresponding http
        request IP Address field between PSU and TPP.
      schema:
        type: string
        format: ipv4
      required: true
      example: 192.168.8.78
    PSU-IP-Address_optional:
      name: PSU-IP-Address
      in: header
      description: >
        The forwarded IP Address header field consists of the corresponding http
        request IP Address field between PSU and TPP.
      schema:
        type: string
        format: ipv4
      required: false
      example: 192.168.8.78
    PSU-IP-Address_conditionalForAis:
      name: PSU-IP-Address
      in: header
      description: >
        The forwarded IP Address header field consists of the corresponding HTTP
        request 

        IP Address field between PSU and TPP. 

        It shall be contained if and only if this request was actively initiated
        by the PSU.
      schema:
        type: string
        format: ipv4
      required: false
      example: 192.168.8.78
    PSU-IP-Port:
      name: PSU-IP-Port
      in: header
      description: >
        The forwarded IP Port header field consists of the corresponding HTTP
        request IP Port field between PSU and TPP, if available.
      schema:
        type: string
      required: false
      example: '1234'
    PSU-Accept:
      name: PSU-Accept
      in: header
      description: >
        The forwarded IP Accept header fields consist of the corresponding HTTP
        request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
      required: false
    PSU-Accept-Charset:
      name: PSU-Accept-Charset
      in: header
      description: >
        The forwarded IP Accept header fields consist of the corresponding HTTP
        request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
      required: false
    PSU-Accept-Encoding:
      name: PSU-Accept-Encoding
      in: header
      description: >
        The forwarded IP Accept header fields consist of the corresponding HTTP
        request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
      required: false
    PSU-Accept-Language:
      name: PSU-Accept-Language
      in: header
      description: >
        The forwarded IP Accept header fields consist of the corresponding HTTP
        request Accept header fields between PSU and TPP, if available.
      schema:
        type: string
      required: false
    PSU-User-Agent:
      name: PSU-User-Agent
      in: header
      description: >
        The forwarded Agent header field of the HTTP request between PSU and
        TPP, if available.
      schema:
        type: string
      required: false
    PSU-Http-Method:
      name: PSU-Http-Method
      in: header
      description: |
        HTTP method used at the PSU ? TPP interface, if available.
        Valid values are:
        * GET
        * POST
        * PUT
        * PATCH
        * DELETE
      schema:
        type: string
        enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
      required: false
    PSU-Device-ID:
      name: PSU-Device-ID
      in: header
      description: >
        UUID (Universally Unique Identifier) for a device, which is used by the
        PSU, if available.

        UUID identifies either a device or a device dependant application
        installation.

        In case of an installation identification this ID need to be unaltered
        until removal from device.
      schema:
        type: string
        format: uuid
      required: false
      example: 99435c7e-ad88-49ec-a2ad-99ddcb1f5555
    PSU-Geo-Location:
      name: PSU-Geo-Location
      in: header
      description: >
        The forwarded Geo Location of the corresponding http request between PSU
        and TPP if available.
      schema:
        type: string
        pattern: '(GEO:)[0-9]{1,3}\.[-][0-9]{6}\,[-][0-9]{1,3}\.[0-9]{6}'
      required: false
      example: 'GEO:52.506931,13.144558'
  requestBodies:
    accounts:
      description: |
        Requestbody for a consents request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/account'
  headers:
    X-Request-ID:
      description: >-
        ID of the request, unique to the call, as determined by the initiating
        party.
      required: true
      example: 99391c7e-ad88-49ec-a2ad-99ddcb1f7721
      schema:
        type: string
        format: uuid
    Location:
      description: |
        Location of the created resource.
      schema:
        type: string
        format: url
      required: false
  responses:
    OK_200_AccountList:
      description: OK
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/accountList'
    OK_200_AccountDetails:
      description: OK
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/accountDetails'
    OK_200_TransactionDetails:
      description: OK
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/transactionDetails'
    OK_200_Balances:
      description: OK
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/readAccountBalanceResponse-200'
    OK_200_AccountsTransactions:
      description: OK
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/transactionsResponse-200_json'
    CREATED_201_Consents:
      description: Created
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/accountsResponse-201'
    NO_CONTENT_204_Consents:
      description: No Content
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    BAD_REQUEST_400_AIS:
      description: Bad Request
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error400_AIS'
    UNAUTHORIZED_401_AIS:
      description: Unauthorized
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error401_AIS'
    FORBIDDEN_403_AIS:
      description: Forbidden
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error403_AIS'
    NOT_FOUND_404_AIS:
      description: Not found
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error404_AIS'
    METHOD_NOT_ALLOWED_405_AIS:
      description: Method Not Allowed
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error405_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error405_AIS'
    NOT_ACCEPTABLE_406_AIS:
      description: Not Acceptable
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error406_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error406_AIS'
    REQUEST_TIMEOUT_408_AIS:
      description: Request Timeout
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    CONFLICT_409_AIS:
      description: Conflict
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error409_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error409_AIS'
    UNSUPPORTED_MEDIA_TYPE_415_AIS:
      description: Unsupported Media Type
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TOO_MANY_REQUESTS_429_AIS:
      description: Too Many Requests
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error429_NG_AIS'
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error429_AIS'
    INTERNAL_SERVER_ERROR_500_AIS:
      description: Internal Server Error
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    SERVICE_UNAVAILABLE_503_AIS:
      description: Service Unavailable
      headers:
        Location:
          $ref: '#/components/headers/Location'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
security:
  - {}
tags:
  - name: Account Information Service (AIS)
    description: |
      The Account Information Service (AIS) offers the following services
        * Transaction reports for a given account or card account including balances if applicable.
        * Balances of a given account or card account ,
        * A list of available accounts or card account ,
        * Account details of a given account or card account or of the list of all accessible accounts or card account  relative to a granted consent
